# General Configuration Variables
ENV=
PORT=
SERVER_URL=
FRONTEND_URL=

# Database Configuration
DB_USER=neondb_owner
DB_PASS=npg_SgmkJ7t9pHnw
DB_NAME=neondb
DB_HOST=ep-wild-cherry-a10ypptp-pooler.ap-southeast-1.aws.neon.tech
DB_PORT=

# Rate Limiter Configuration
POINTS=
DURATION=
BLOCK_DURATION=

# Password Configuration
SALT_ROUNDS=

# Email Service
EMAIL_SERVICE_API_KEY=
# Nodemailer Service
SMTP_MAIL_SERVICE=
SMTP_MAIL_HOST=
SMTP_MAIL_USERNAME=
SMTP_MAIL_PASSWORD=
SMTP_MAIL_PORT=

# JWT Access and Refresh Secret Key 
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Payment Gateway Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

STRIPE_SECRET_KEY=

# Defualt DP Setup
DEFAULT_DP_API=